[submodule "coffeescript"]
	path = coffeescript
	url = git@github.com:dylon/liblevenshtein-coffeescript.git
[submodule "shared"]
	path = shared
	url = git@github.com:dylon/liblevenshtein-shared.git
[submodule "java"]
	path = java
	url = git@github.com:dylon/liblevenshtein-java.git
