[submodule "coffeescript"]
	path = coffeescript
	url = git@github.com:universal-automata/liblevenshtein-coffeescript.git
[submodule "shared"]
	path = shared
	url = git@github.com:universal-automata/liblevenshtein-shared.git
[submodule "java"]
	path = java
	url = git@github.com:universal-automata/liblevenshtein-java.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:universal-automata/liblevenshtein-cpp.git
